body{
    font-family: Arial;
    text-align: center;
}
/* Common button style */
.btn{
    color: white;
    padding: 12px;
    margin: 10px;
    border: none;
    cursor: pointer;
    margin: 10px;
    border-radius:15px;
}
.youtube{ 
    background-color: rgb(242, 242, 242); 
} 
.youtube:hover {
    background-color: lightcoral; 
}
.google{ 
    background-color: blue; 
} 
.google:hover{ 
    background-color: lightblue; 
}

.wikipedia{
    background-color:darkgray;
}
.wikipedia:hover{
    background-color:lightgray
}
.khan{
    background-color:rgb(242, 242, 242);
}
.khan:hover{
    background-color:rgb(10, 217, 214)
}
.canva{
    background-color:turquoise;
}
.canva:hover{
    background-color:rgb(21, 243, 221);
}
.national{
    background-color:rgb(231, 231, 11);
    color:black;
}
.national:hover{
    background-color:yellow;
}
.changebackground{
    background-color:lightblue;
}
body:has(#toggle:checked) {
    background-color: lightblue;
    color: white;
}
.lightblue{
    background-color: darkblue;
    color:lightblue;
    border: 2px black solid;
}
.lightcoral{
    background-color:darkred;
    color:lightcoral;
    border: 2px black solid;
}
.lightgreen{
    background-color:darkgreen;
    color:lightgreen;
    border: 2px black solid;
}